* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  min-height: 100vh;
  padding-bottom: 100px;
  background-color: rgb(229, 231, 235);
}
h1 {
  margin: 20px auto;
  font-size: 2.5rem;
}
h1,
h3 {
  font-family: "Permanent Marker", cursive;
}
.spacer {
  height: 100px;
}
